<html lang="en">
<head>
    <%- include('../partials/head') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATALAYA!</title>
    <link rel="stylesheet" href="/css/productCreate.css">
    <script src="https://kit.fontawesome.com/931a27a940.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
      <%-include('../partials/header.ejs')%>
    </header>
  <img src="/img/banner2.png" alt="banner" style="width: 100%">
   
    <main>
      <section>

        <div style="display: flex;align-content: space-around;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;    margin: 5px;">
          <h1>Productos:</h1>
        </div>
        
        <div class="products-container">
          <% products.forEach(product => { %>
          <a href="/products/detail/<%= product.idProduct %>" class="qsyo">
          <article>
            <img src="/img/products/<%= product.imagen %>" alt="">
            <div class="product-card" style="background-color: white">
              <h1 class="description"><%= product.nombre %></h1>
              <div class="flex-row">
                <p class="price">u$s <%= product.precio %></p>
              </div>
              <h3 class="description"><%= product.descripcion %> </h3>
            </div>
          </article>
        </a>
          <% }) %>
        </div>
      </section>
    </main>
    <section class="banner">
      <img src="/img/Banner footer 2.jpg" alt="BSobre Nosotros!">
    </section>
    <footer>
      <%-include('../partials/footer.ejs')%>
    </footer>
  </body>
</html>